@import 'tailwindcss';

@theme {
	--color-bg: #090b10;
	--color-surface: #131722;
	--color-elevated: #1e2433;
	--color-border: #2a3143;
	--color-text: #e2e8f0;
	--color-muted: #94a3b8;
	--color-healthy: #00f090;
	--color-degraded: #ffb020;
	--color-outage: #ff3366;
	--color-nodata: #4e5b73;
	--color-primary: #4f46e5;
	--color-secondary: #333d54;
	--color-destructive: #e11d48;

	--font-body: 'Noto Sans TC', sans-serif;
	--font-header: 'Space Grotesk', var(--font-body);
}

@layer base {
	* {
		@apply box-border;
	}

	html,
	body {
		@apply m-0 bg-bg p-0 text-text;
	}
}
